{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Execise Page

{% endblock %}


{% block content %}

    <h1>{{exercise.name}}</h1>

    <a role="button" href="/favourite/{{ exercise.id }}" onclick="return confirm('Are You Sure?');">Favourite Exercise</a>

    <h2>Graph will go here</h2>


    <article>

        <header>
            <h3>Description</h3>
        </header>

        <p>{{exercise.description}}</p>

    </article>
    
    {# Only show delete link if logged in AND owner #}
            {% if session.user_id and (exercise.user_id == session.user_id) %}
                <a role="button" href="/delete/{{ exercise.id }}" onclick="return confirm('Really delete?');">Delete Exercise</a>

            {% else %}

                Owner: <strong>{{ exercise.owner }}</strong>

            {% endif %}

    <a role="button" href="/add-workout">Add Workout</a>

{% endblock %}

