{#=====================================================
Workout adding page
- Form for adding workouts
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

Add Exercise

{% endblock %}


{% block content %}
<div class="forms">
    <article>

        <h3>Add a New Exercise</h3>

        <form action="/add-exercise" method="POST">

            <input type="text" name="name" placeholder="Name of New Exercise" required>

            <input type="text" name="description" placeholder="Exercise Description" required>

            <button class="add-button">Add</button>

        </form>

    </article>
</div>
{% endblock %}