{#=====================================================
Home page
- Hero style greeting banner
- List of things passed in as 'things' array
- Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

Home Page

{% endblock %}


{% block content %}



{% if session.user_id %}

<a role="button" href="/exercise-add">Add an Exercise</a>

<article>

    <ul>

        <h1>Exercises</h1>

        <h2>Favourites</h2> 
        
        <h3 class="*">* - Owned</h3>

        {% for exercise in exercises if exercise.id in favourites %}

        <li>
            <p class="exercises">
                {%if exercise.owner_id == session.user_id%} * - {%endif%}<a href="/exercise/{{ exercise.id }}">{{exercise.name}}</a> 
            </p>
        </li>

        {% else %}

        <p>None!</p>

        {% endfor %}

        <h2>Owned</h2>
        {% for exercise in exercises if exercise.owner_id == session.user_id %}

        <li>
            <p class="exercises">
                <a href="/exercise/{{ exercise.id }}">{{exercise.name}}</a> 
            </p>
        </li>

        {% else %}

        <p>None!</p>

        {% endfor %}

        <h2>Others</h2>

        {% for exercise in exercises if exercise.id not in favourites and exercise.owner_id != session.user_id %}

        <li>
            <p class="exercises">
                <a href="/exercise/{{ exercise.id }}">{{exercise.name}}</a> 
            </p>
        </li>

        {% else %}

        <p>None!</p>

        {% endfor %}
    </ul>

</article>

{% else %}

<p>Please <a href="/login">Login</a> or <a href="/register">Register</a> to Continue</p>

{% endif %}

{% endblock %}