{#=====================================================
Home page
- List of exercises shown on page
- Methods for reaching workouts page and add exercise form
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

Home Page

{% endblock %}


{% block content %}



{% if session.user_id %}

<article class="exercise-list">

    <div class="exercises-header">
        <h1>Exercises</h1>
        <h1 class="owned-symbol">* - Owned</h1>
    </div>

    {# Table showing all exercises, splitting them into groups of favourites, owned and others#}
    <div class="exercises-table">
        <h2>Favourites</h2>
        {# Multiple 'fors' for favourites to have the owned favouites above the unowned favourites #}
        <ul>
            {% for exercise in exercises if exercise.id in favourites and exercise.owner_id == session.user_id %}
            <li>
                <p class="exercises">
                    <span class="fav-star"> * - </span>
                    <a role="button" href="/exercise/{{ exercise.id }}">{{exercise.name}}</a>
                </p>
            </li>
            {% endfor %}

            {% for exercise in exercises if exercise.id in favourites and exercise.owner_id != session.user_id %}
            <li>
                <p class="exercises">
                    <a role="button" href="/exercise/{{ exercise.id }}">{{exercise.name}}</a>
                </p>
            </li>
            {% endfor %}

            {% if not favourites %}

            <li>
                <p>None!</p>
            </li>

            {% endif %}
        </ul>

        <h2>Owned</h2>

        <ul>
            {% for exercise in exercises if exercise.owner_id == session.user_id %}

            <li>
                <p class="exercises">
                    <a role="button" href="/exercise/{{ exercise.id }}">{{exercise.name}}</a>
                </p>
            </li>

            {% else %}

            <li>
                <p>None!</p>
            </li>

            {% endfor %}
        </ul>

        <h2>Others</h2>

        <ul>
            {% for exercise in exercises if exercise.id not in favourites and exercise.owner_id != session.user_id %}

            <li>
                <p class="exercises">
                    <a role="button" href="/exercise/{{ exercise.id }}">{{exercise.name}}</a>
                </p>
            </li>

            {% else %}

            <li>
                <p>None!</p>
            </li>

            {% endfor %}
        </ul>
    </div>

</article>

<a role="button" class="add-data-button" href="/exercise-add">Add Exercise</a>

{% else %}

<p class="request-login-register-message">Please <a href="/login">Login</a> or <a href="/register">Register</a> to
    Continue</p>

{% endif %}

{% endblock %}