{#=====================================================
  Workout adding page
  - Form for adding workouts
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Add Workout

{% endblock %}


{% block content %}

    <article>

        <header>
            <h2>Add a Workout</h2>
        </header>

        <form action="/add-workout/{{ exercise_id }}" method="POST">

            <input
                type="number"
                name="sets"
                placeholder="Sets"
                required
            >

            <input
                type="number"
                name="reps"
                placeholder="Reps"
                required
            >

            <input
                type="date"
                name="date"
                placeholder="Date"
                required
            >

            <input
                type="number"
                name="weight"
                placeholder="Weight(Kg)"
                required
            >

            <button class="add-button">Add Workout</button>

        </form>

    </article>

{% endblock %}

