/*=====================================================
  User stylesheet - Building upon PicoCSS
=====================================================*/


/* ABOUT PAGE -------------------------------------------- */

#tech-stack {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

#tech-stack article {
    flex: 1;
}


/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success { color: var(--pico-color-green-500); }
#messages .message.error   { color: var(--pico-color-red-500); }

/* -----------Header---------------*/

header {
    background-color: red;
}

header a {
    color: black;
}


header nav {
    width: 100%;
    margin: 0;
}

header nav ul {
    width: 100%;     
    display: flex;    
    margin: 0;
    padding: 0;
    list-style: none;
}

.hello {
    color: black;
}

/*---------------nav--------------*/

nav {
    background-color: red;
    color: black;
    margin: 0;
    padding: 0;
}

/*-------------body----------------*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
}

a[role ="button"] {
    background-color: goldenrod;
    color: black;
}

a[role ="button"]:hover {
    background-color: goldenrod;
    color: black;
    text-decoration: underline;
}

.add-button {
    background-color: goldenrod;
    color: black;
}

.add-button:hover { 
    background-color: goldenrod;
    color: black;
    text-decoration: underline;
}

/*-----------------main---------------*/

main {
    background-color: black;
    flex: 1;
    margin-bottom: 0;
    margin: 0;
    padding: 0;
}

.exercises-header {
    display: flex;
    align-items: center;       /* Keeps them vertically aligned */
    justify-content: space-between; /* Pushes one left, one right */
    width: 100%;
    padding: 0 1rem;
}

.owned-symbol {
    font-size: 1.2rem;
    color: goldenrod;
}

.fav-star {
    font-size: 1.5rem;
    color: goldenrod;
    font-weight: bold;
}

article {
    display: flex;
    align-items: center;     /* centers the ul horizontally */
    width: 100%;
    flex-direction: column;     /* stack header and list vertically */
}

article ul {
    padding: 0;
}

.exercises-list {
    display: flex;
    flex-direction: column;
    align-items: center;         /* centers child elements */
    width: 100%;
    padding: 0 1rem;            /* adds some breathing room on mobile */
}

.exercises-list h2 {
    width: 100%;
    max-width: 600px;
    text-align: left;
}

.exercises-list li {
    width: 100%;
    max-width: 600px;
    text-align: left;
}

/*----------------Form--------------*/

form {
    display: flex;
    flex-direction: column; /* stack inputs vertically */
    gap: 1rem;              /* space between each input */
}


/*--------------Footer-------------*/

footer {
    background-color: red;
    text-align: center;
    padding: 2rem;
    position: relative;
    margin-top: auto;
    font-weight: bold;
    width: 100%;
    max-width: 100%;
    margin: 0;
    box-sizing: border-box;
}

footer p {
    color: black;
    margin: 0;
    padding: 0;
}

.request-login-message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: yellow;
    height: 50vh;
}

.request-login-message a {
    margin: 0.2rem;
    color: darkgoldenrod;
    text-decoration-color: yellow;
}

.request-login-message a:hover {
    margin: 0.2rem;
    color: yellow;
    text-decoration-color: yellow;
}